.commonCard {
  display: flex;
  border: 1px solid rgb(226, 224, 224);
  height: 12rem;
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
}

// title + content + icon
.homeCard {
  @extend .commonCard;
  justify-content: center;
  gap: 45px;
  align-items: center;
  .homeCard__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 60%;
  }
}

// title + content + user + tags
.postCard {
  @extend .commonCard;
  flex-direction: column;
  height: auto;
  padding-bottom: 20px;
  margin: 1.5rem 0;
  cursor: default;
  .postCard__authorDetails {
    display: flex;
    margin: 30px 0 18px 0;
    gap: 10px;
  }

  .postCard__tags {
    display: flex;
    gap: 8px;
    .postCard__tags__buttons {
      display: flex;
      gap: 8px;
    }
  }
}

// title + content + user
.searchCard {
  @extend .commonCard;
  height: auto;
  flex-direction: column;
  cursor: default;
  .searchCard__author {
    gap: 15px;
    display: flex;
    align-items: center;
  }
}
