<div class="searchCard" *ngIf="post!">
    <p class="text-xl text-indigo-700 mb-2 mt-4 cursor-pointer" [routerLink]="['/post', post!.id]">{{post!.title}}</p>
    <div class="text-gray-400">{{post!.description | shorten: 280}}<button
            class="bg-indigo-500 rounded-md h-7 px-1 text-white" [routerLink]="['/post', post!.id]">read more</button>
    </div>
    <div class="searchCard__author my-4">
        <img class="w-8 h-8 rounded-full" src='/assets/images/profile.png' alt='users'>
        <div class="text-sm">
            <div>Written by <span class="font-bold">{{post!.author}}</span></div>
            <div>{{post!.date | date:'MMMM d y'}}</div>
        </div>
    </div>
</div>